
<div class="container">
    <h2>List Todo</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
       
      </tbody>
    </table>

    <hr/>
    <div class="row">
        <div class="col-xs-3">
            <label>
                Name
            </label>
        </div>
        <div class="col-xs-9">
            <input class="form-control" name="name"/>
        </div>

        <div class="col-xs-3">
            <label>
                Completed
            </label>
        </div>
        <div class="col-xs-9">
            <input class="form-control" name="completed" type="checkbox"/>
        </div>
    </div>
  </div>